@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #4a4a4a;
  background-color: #f5f7f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-primary: #ad46ff;
  --color-secondary: #ddefe3;
  --color-accent: #51a2ff;
  --color-bg: #f5f7f6;
  --color-text: #4a4a4a;
  --color-border: #ffcdf2;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
}
